[submodule "BasicFlaskRoutine"]
	path = BasicFlaskRoutine
	url = https://github.com/sychotixdev/BasicFlaskRoutine
[submodule "SithylisQoL"]
	path = SithylisQoL
	url = https://github.com/DetectiveSquirrel/SithylisQoL
[submodule "Pickit"]
	path = Pickit
	url = https://github.com/DetectiveSquirrel/Pickit
