[submodule "BasicFlaskRoutine"]
	path = BasicFlaskRoutine
	url = https://github.com/sychotixdev/BasicFlaskRoutine
[submodule "SithylisQoL"]
	path = SithylisQoL
	url = https://github.com/DetectiveSquirrel/SithylisQoL
[submodule "Pickit"]
	path = Pickit
	url = https://github.com/DetectiveSquirrel/Pickit
[submodule "BuffUtil"]
	path = BuffUtil
	url = https://github.com/0xE0D59/BuffUtil
[submodule "Get-Chaos-Value"]
	path = Get-Chaos-Value
	url = https://github.com/DetectiveSquirrel/Get-Chaos-Value
